{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AlgoSimulator</title>
    <link rel="stylesheet" href="{% static 'homepage/main.css' %}">
</head>
<body class="reg-pages">
    <section class="registration-login">
        <h2>выход</h2>
    </section>
    <script src="/js/main.js"></script>
</body>
</html>
